{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} Welcome | {% endblock %}

<style>
{% block style %}
 div.jumbotron {
  background: linear-gradient(to top, #58434F, #00421F); 
  color:#FFF;
}
#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }
{% endblock %}
</style>

{% block jumbotron %}

<div class="jumbotron" >
<div class="container">
      <div class = "row">
      	<div class = "col-xs-6">
        <h1>Приветствую на Stream Days</h1>
        <p>Меня зовут Кирилл Буровин. </p>
        <p>Я разработчик веб-приложений на Python/Django</p>
        <p>А это мой небольшой сайт-визитка. Здесь я буду выкладывать ссылки на мои будущие проекты, и собирать портфолио.</p>
        <p>Связаться со мной можно через форму в шапке сайта или через указанные снизу контакты. </p>
        <p> Спасибо, что заглянули! </p>
       <!--  <p>
          <a class="btn btn-lg btn-primary" href="accounts/register" role="button">Зарегистрироваться!  &raquo;</a>
        </p>
      -->
       </div>
<div class = 'col-sm-6'>
	<iframe src="http://www.twitch.tv/kup9_nps/embed" frameborder="0" scrolling="no" height="450" width="620"></iframe><a href="http://www.twitch.tv/kup9_nps?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from Kup9_NpS on www.twitch.tv</a>
 </div>
</div>
</div>
</div>

{% endblock %}


{% block content%}

{% if request.user.is_authenticated %}
<h1 class="col-xs-3 pull-right " >Вы вошли!</h1>

      {% if queryset %}
      <h2>Welcome, Staff</h2>
      <table class="table">
      {% for instance in queryset %}

      <tr><td>{{forloop.counter}}</td><td>{{ instance }}</td>, <td>{{ instance.full_name }}</td>, <td>{{ instance.timestamp|timesince }} ago</td></tr>
      {% endfor %}
    </table>
      {% endif %}

{% else %}
<div class="row">


  <div class="col-xs-3 pull-right ">
		<h1>{{ title }}</h1>


		<form method = 'POST' action = ''> {% csrf_token %}
		{{ form|crispy }}
		<input class = 'btn btn-primary ' type = 'submit' value = 'Sigh Up'/>

</form>

</div>
{% endif %}
<div class="col-sm-3">

	<p class ='lead text-align-center' => Python  </p>
  <center>  
  <img src="{% static 'img/python.png' %}" class = 'img-responsive, align-center'/>
</center>
</div>
<div class="col-sm-3">

  <p class ='lead text-align-center' =>  Django </p>
  <center>  
  <img src="{% static 'img/django.png' %}" class = 'img-responsive, align-center'/>
</center>
</div>
<div class="col-sm-3">

  <p class ='lead text-align-center' => Bootstrap </p>
  <center>  
  <img src="{% static 'img/bootstrap.png' %}" class = 'img-responsive, align-center'/>
</center>
</div>



</div> 
<div id='footer'>
    <hr 'color:#FFF' "size: 10px" 'align:bottom'/>
<div class="col-sm-3">
<p class ='lead text-align-center' => Made by Kirill Burovin </p>

</div>
<div class="col-sm-4 pull-right ">
  <div class=" pull-left">
<p class ='lead ' => Find me there: </p>
</div>
<div class="col-sm-2 pull-right ">
<a  href="https://vk.com/kirich321"><i class= "fa fa-vk fa-3x "></i></a> 
</div>
<div class="col-sm-2 pull-right ">
<a  href="https://github.com/Kup9NpS"><i class= "fa fa-github fa-3x "></i></a> 
</div>
<div class="col-sm-2 pull-right">
<a  href="http://www.twitch.tv/Kup9_NpS"><i class= "fa fa-twitch fa-3x "></i></a> 
</div>
<div class="col-sm-2 pull-right">
<a  href="https://www.facebook.com/profile.php?id=100001439172735"><i class= "fa fa-facebook fa-3x "></i></a> 
</div>

</div>

</div>

{% endblock%}

<!-- <body>
	<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'streamdays';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</body> -->
